/* 10.404624277456647398843930635838% */
/* 20.809248554913294797687861271676% */

/* * Fonts * */
@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeueRegular.eot');
	src: url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('fonts/BebasNeueRegular.woff') format('woff'),
		url('fonts/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeueLight.eot');
	src: url('fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
		url('fonts/BebasNeueLight.woff') format('woff'),
		url('fonts/BebasNeueLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* * * Mobile + General * * */
html{
	font-size: 48%; /* 56% */
}
body{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-size: 2rem;
	font-weight: 300;
	color: #3c3c3c;
	line-height: 1.8;
}
.font-bebas{
	font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
}
.font-bebas-light{
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 300;
}
a{
	transition: color .3s;
	text-decoration: none;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}
.img-fullwidth{
	width: 100%;
	display: block;
}
.bgr-stretch{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
*:first-child{
	margin-top: 0;
}
*:last-child{
	margin-bottom: 0;
}
img{
	max-width: 100%;
}
.nav-plain > ul, .plain-nav > ul{
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.nav-plain > ul > li, .plain-nav > ul > li{
	vertical-align: middle;
	display: inline-block;
}
.upper, .uppercase{
	text-transform: uppercase;
}
.nowrap{
	white-space: nowrap;
}
.bx-wrapper{
	position: relative;
}
.bxslider{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#map-wrap{
	transition: all .3s;
	position: relative;
}
#map-wrap iframe{
	border: none;
	width: 100%;
	height: 100vh;
	display: block;
}
#total-wrap{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.text-gradient{
	background: -webkit-linear-gradient(135deg, #03d5c5, #18c9ef);
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
	display: inline-block;
}

/* * Circles * */
.circles{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
.circles .circle{
	border-radius: 50%;
	width: 1.4vw;
	height: 1.4vw;
	min-width: 20px;
	min-height: 20px;
	max-width: 27px;
	max-height: 27px;
	position: absolute;
}
.circles .circle.yellow.index1{
	top: -1%;
	left: 24%;
}
.circles .circle.yellow.index2{
	top: 90%;
	left: 25%;
}
.circles .circle.yellow.index3{
	top: 18%;
	left: 86%;
}
.circles .circle.orange.index1{
	top: 49%;
	left: 19%;
}
.circles .circle.orange.index2{
	top: 23%;
	left: 67%;
}
.circles .circle.orange.index3{
	top: 83%;
	left: 93%;
}
.circles .circle.blue.index1{
	top: 30%;
	left: 8%;
}
.circles .circle.blue.index2{
	top: 75%;
	left: 63%;
}
.circles .circle.blue.index3{
	top: 43%;
	left: 84%;
}
.circles .circle.green.index1{
	top: 67%;
	left: 2%;
}
.circles .circle.green.index2{
	top: 18%;
	left: 33%;
}
.circles .circle.green.index3{
	top: 59%;
	left: 73%;
}
.yellow{ background-color: #f5eeb7; }
.yellow-dark{ background-color: #dfdb71; }
.orange{ background-color: #fdd7a8; }
.orange-dark{ background-color: #f1b769; }
.blue{ background-color: #abd4f0; }
.blue-dark{ background-color: #4590af; }
.green{ background-color: #9ed8cc; }
.green-dark{ background-color: #418f8f; }
.btn-iquest{
	color: #fff !important;
	font-family: 'Bebas Neue';
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	letter-spacing: .19em;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: 0 10px 27px rgba(26,222,225,.38);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#37b6b5+0,79d7ed+100 */
	background: rgb(55,182,181); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(55,182,181,1) 0%, rgba(121,215,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(55,182,181,1) 0%,rgba(121,215,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(55,182,181,1) 0%,rgba(121,215,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b6b5', endColorstr='#79d7ed',GradientType=1 ); /* IE6-9 */
}
.map-overlay-content-text a{
	color: #39b7b7;
	text-decoration: underline;
}
.map-overlay-content-text a:hover, .map-overlay-content-text a:active, .map-overlay-content-text a:focus{
	text-decoration: none;
}

/* * * Small Devices * * */
@media (max-width: 991px) {
	.iquest-logo{
		margin: -65px 0 0 -65px;
		width: 130px;
		position: absolute;
		left: 50%;
		top: 50%;
	}
	.mobile-buttons{
		background-color: #000;
		height: 100px;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.mobile-buttons:before{
		content: '';
		background-color: #38b6b6;
		width: 1px;
		height: 100px;
		position: absolute;
		left: 50%;
		top: 0;
	}
	.btn-mobile{
		width: 50%;
		float: left;
		font-size: 16px;
		font-weight: 300;
		text-align: center;
		line-height: 1.3;
		padding-top: 12px;
		height: 100px;
	}
	.btn-mobile-plus{
		background-color: #38b6b6;
		margin: 9px auto 0;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		display: block;
		position: relative;
	}
	.btn-mobile-plus:before{
		content: '';
		background-color: #fff;
		width: 1px;
		height: 11px;
		position: absolute;
		left: 12px;
		top: 7px;
	}
	.btn-mobile-plus:after{
		content: '';
		background-color: #fff;
		width: 11px;
		height: 1px;
		position: absolute;
		left: 7px;
		top: 12px;
	}
	#navbar-1{
		transition: all .3s;
		background-color: #fff;
		position: fixed;
		z-index: 500;
		left: 0;
		top: 0;
		right: 0;
		transform: translate(0, -100%);
		margin-top: 80px;
		-webkit-box-shadow: 0 0 15px rgba(0,0,0,.16);
		box-shadow: 0 0 15px rgba(0,0,0,.16);
	}
	.navbar-1-text{
		font-size: 18px;
		font-weight: 300;
		color: #3c3c3c;
		line-height: 26px;
		margin: 25px 0;
	}
	.navbar-1-2in{
		transition: all .3s;
		padding: 10px 40px 20px;
	}
	.btn-iquest{
		font-size: 12px;
		line-height: 40px;
		padding: 0 20px;
		height: 40px;
		border-radius: 20px;
	}
	.navbar-1-toggle{
		margin-top: -16px;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		position: absolute;
		z-index: 550;
		top: 100%;
		right: 20px;
		-webkit-box-shadow: 0 2px 38px rgba(26,222,225,.76);
		box-shadow: 0 2px 38px rgba(26,222,225,.76);

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77d6eb+0,dfdb71+50,efac52+100 */
		background: rgb(119,214,235); /* Old browsers */
		background: -moz-linear-gradient(-45deg,  rgba(119,214,235,1) 0%, rgba(223,219,113,1) 50%, rgba(239,172,82,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  rgba(119,214,235,1) 0%,rgba(223,219,113,1) 50%,rgba(239,172,82,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  rgba(119,214,235,1) 0%,rgba(223,219,113,1) 50%,rgba(239,172,82,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77d6eb', endColorstr='#efac52',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.navbar-1-toggle:before{
		content: '';
		background-color: #fff;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		position: absolute;
		left: 0;
		top: 0;
		transition: all .3s;
	}
	.navbar-1-toggle:hover:before, .navbar-1-toggle:active:before, .navbar-1-toggle:focus:before{
		opacity: 0;
	}
	.navbar-1-toggle span:before, .navbar-1-toggle span:after{
		content: '';
		background-color: #009787;
		width: 7px;
		height: 2px;
		position: absolute;
		left: 50%;
		top: 50%;
		transition: all .3s;
	}
	.navbar-1-toggle span:before{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		margin: -0px 0 0 -6px;
	}
	.navbar-1-toggle span:after{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin: -0px 0 0 -2px;
	}
	.navbar-1-active .navbar-1-toggle span:before{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.navbar-1-active .navbar-1-toggle span:after{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.navbar-1-toggle:hover span:before, .navbar-1-toggle:active span:before, .navbar-1-toggle:focus span:before,
	.navbar-1-toggle:hover span:after, .navbar-1-toggle:active span:after, .navbar-1-toggle:focus span:after{
		background-color: #fff;
	}
	.iquest-btn-wrap{
		height: 40px;
	}
	.circles{
		opacity: 0;
	}
	.navbar-1-active #navbar-1{
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		margin-top: 0;
	}
	.navbar-1-active .navbar-1-2in{
	}
	.map-overlay-block{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 1000;
		background-color: #fff;
	}
	.map-overlay-block-in{
		height: 100vh;
	}
	#map-overlay-content-1, #map-overlay-content-2{
		display: block !important;
		height: auto !important;
	}
	.map-overlay-toggle{
		font-size: 24px;
		background-color: #000;
		text-align: center;
		line-height: 30px;
		height: 90px;
		padding-top: 15px;
		display: block;
	}
	.map-overlay-content{
		height: calc(100vh - 140px) !important;
		padding: 20px;
		overflow: auto;
	}
	.map-overlay-content-text{
		margin-bottom: 15px;
	}
	.map-overlay-toggle-icon-mob{
		background-color: #38b6b6;
		margin: 10px auto 0;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		display: block;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.map-overlay-toggle-icon-mob:before, .map-overlay-toggle-icon-mob:after{
		content: '';
		transition: all .3s;
		background-color: #fff;
		position: absolute;
	}
	.map-overlay-toggle-icon-mob:before{
		width: 10px;
		height: 2px;
		left: 10px;
		top: 14px;
	}
	.map-overlay-toggle-icon-mob:after{
		width: 2px;
		height: 10px;
		left: 14px;
		top: 10px;
	}
}

/* * * Large Devices * * */
@media (min-width: 992px) {
	/* * The map * */
	#map-wrap{
		margin-left: 110px;
	}
	#navbar-1{
		background-color: #fff;
		width: 730px;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		-webkit-box-shadow: 0 2px 48px rgba(0,0,0,.22);
		box-shadow: 0 2px 48px rgba(0,0,0,.22);
		transition: all .3s;
		margin-left: -620px;
	}
	.navbar-1-active #navbar-1{
		margin-left: 0;
	}
	.navbar-1-toggle{
		margin-top: -33px;
		border-radius: 50%;
		width: 66px;
		height: 66px;
		position: absolute;
		z-index: 800;
		top: 75%;
		right: -33px;
		-webkit-box-shadow: 0 2px 38px rgba(26,222,225,.76);
		box-shadow: 0 2px 38px rgba(26,222,225,.76);

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#77d6eb+0,dfdb71+50,efac52+100 */
		background: rgb(119,214,235); /* Old browsers */
		background: -moz-linear-gradient(-45deg,  rgba(119,214,235,1) 0%, rgba(223,219,113,1) 50%, rgba(239,172,82,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  rgba(119,214,235,1) 0%,rgba(223,219,113,1) 50%,rgba(239,172,82,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  rgba(119,214,235,1) 0%,rgba(223,219,113,1) 50%,rgba(239,172,82,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77d6eb', endColorstr='#efac52',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.navbar-1-toggle:before{
		content: '';
		background-color: #fff;
		border-radius: 50%;
		width: 66px;
		height: 66px;
		position: absolute;
		left: 0;
		top: 0;
		transition: all .3s;
	}
	.navbar-1-toggle:hover:before, .navbar-1-toggle:active:before, .navbar-1-toggle:focus:before{
		opacity: 0;
	}
	.navbar-1-toggle span:before, .navbar-1-toggle span:after{
		content: '';
		background-color: #009787;
		width: 15px;
		height: 3px;
		position: absolute;
		left: 50%;
		top: 50%;
		transition: all .3s;
	}
	.navbar-1-toggle span:before{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		margin: -5px 0 0 -6px;
	}
	.navbar-1-toggle span:after{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin: 4px 0 0 -6px;
	}
	.navbar-1-active .navbar-1-toggle span:before{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin: -5px 0 0 -10px;
	}
	.navbar-1-active .navbar-1-toggle span:after{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		margin: 4px 0 0 -10px;
	}
	.navbar-1-toggle:hover span:before, .navbar-1-toggle:active span:before, .navbar-1-toggle:focus span:before,
	.navbar-1-toggle:hover span:after, .navbar-1-toggle:active span:after, .navbar-1-toggle:focus span:after{
		background-color: #fff;
	}
	.navbar-logo-2{
		background-image: url(../images/logo-2.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 75px;
		height: 75px;
		position: absolute;
		top: 25px;
		right: 18px;
		transition: all .3s;
	}
	.navbar-1-active #navbar-1 .navbar-logo-2{
		opacity: 0;
	}
	.navbar-1-active #map-wrap{
		margin-left: 730px;
	}
	#navbar-1-in{
		max-height: 100vh;
		height: 100vh;
	}
	.navbar-1-2in{
		padding: 130px 80px;
		opacity: 0;
		transition: all .3s;
	}
	.scroll-wrapper{
		opacity: 0;
	}
	.navbar-1-active .scroll-wrapper, .navbar-1-active .navbar-1-2in{
		opacity: 1;
	}
	.navbar-1-text{
		font-size: 50px;
		line-height: 1.4;
		margin-bottom: 90px;
	}
	.navbar-1-logo{
		margin-bottom: 90px;
	}

	.btn-iquest{
		font-size: 24px;
		line-height: 82px;
		padding: 0 50px;
		height: 82px;
		border-radius: 41px;
	}
	.map-overlay-block{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 300px;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		transition: all .3s;
		border-radius: 10px;
		display: block !important;
		height: auto !important;
	}
	.map-overlay-block.index-1{
		margin-left: -265px;
	}
	.map-overlay-block.index-2{
		margin-left: 265px;
	}
	.map-overlay-content .btn-iquest{
		font-size: 13px;
		line-height: 45px;
		padding: 0 28px;
		height: 45px;
	}
	.map-overlay-toggle{
		color: #75dfe4;
		background-color: #000;
		display: block;
		transition: all .3s;
		font-size: 24px;
		font-weight: 300;
		text-decoration: none;
		line-height: 1.15;
		text-align: center;
		padding: 20px 0;
		border-radius: 10px;
	}
	.map-overlay-toggle-icon{
		background-color: #38b6b6;
		margin: -15px 0 0 -15px;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		position: absolute;
		left: 50%;
		top: 100%;
		transition: all .3s;
	}
	.map-overlay-block.active .map-overlay-toggle{
		border-radius: 10px 10px 0 0;
	}
	.map-overlay-block.active{
		-webkit-box-shadow: 0 2px 38px rgba(26,222,225,.76);
		box-shadow: 0 2px 38px rgba(26,222,225,.76);
	}
	.map-overlay-toggle-icon:before, .map-overlay-toggle-icon:after{
		content: '';
		transition: all .3s;
		background-color: #fff;
		position: absolute;
	}
	.map-overlay-toggle-icon:before{
		width: 10px;
		height: 2px;
		left: 10px;
		top: 14px;
	}
	.map-overlay-toggle-icon:after{
		width: 2px;
		height: 10px;
		left: 14px;
		top: 10px;
	}
	.map-overlay-block.active .map-overlay-toggle-icon{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.map-overlay-content{
		font-size: 13px;
		line-height: 22px;
		background-color: #fff;
		border-radius: 0 0 10px 10px;
		padding: 30px 30px 45px;
	}
	.map-overlay-content-text{
		margin-bottom: 23px;
	}
	.iquest-logo{
		margin: -95px 0 0 -95px;
		width: 190px;
		position: absolute;
		left: 50%;
		top: 50%;
	}
	.iquest-logo:before, .iquest-logo:after{
		content: '';
		margin-top: -1px;
		width: 70px;
		height: 3px;
		position: absolute;
		top: 50%;
		background-image: url(../images/bgr-dots.png);
		background-repeat: repeat-x;
	}
	.iquest-logo:before{
		right: 165px;
	}
	.iquest-logo:after{
		left: 165px;
	}
}

/* * * Large Devices * * */
@media (min-width: 1200px) {
	.map-overlay-block.index-1{
		margin-left: -300px;
	}
	.map-overlay-block.index-2{
		margin-left: 300px;
	}
}